@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Lato', sans-serif;
}




header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;
  border: 1px solid red;
}

.logo{
  width: 200px ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px ;
  padding-bottom: 32px;
 
}

.name{
  width: 91.28px;
  height: 31px;
}

.star{
  width: 19.81px;
  height: 18.94px;
  margin-right: 9px;
 
}

ul{
  list-style: none;
}

nav ul{
  display: flex;

  flex-direction: row;
  margin-right: 150px;
 
  width: 138px;
  height: 24px;

}

li img{
  width: 21.14px;
  margin-left: 42px ;
}


.banner img{
  max-width: 100%;
  height: 375px;
}



/*=======Catálogo=============*/


.catalogo-Header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 34px 4% 29px 4%;

}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 70px ;

}
.card{
  flex: 1;
  margin-bottom: 62px;

}

.card img{
  width: 303px;
height: 303px;
border-radius: 5px;

margin-top: 57px;
margin-bottom: 23px;

}

.card p{
  
  font-size: 22px;
}

.preco{
  font-size: 20px;
  font-weight: bold;

  margin-top: 11px;
}

span{
  color: #5CA720 ;
}



